
html{background-color: black;
  
}

body {
  width:auto;
  height:auto;
  background-color:black;
  border:2px solid;
  border-color:chartreuse;
}
  h1 {
    font: 1.5rem "arial";
    color:chartreuse;
}
input:checked + label {text-decoration-line: line-through;}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  font: 1rem "arial";
  color:chartreuse;
}

#btn1 {
  border-radius: 10px;
  background: chartreuse;
  width: 57px;
  height: 35px;
}
#btn2 {
    border-radius: 10px;
    background: chartreuse;
    padding: 1px;
    width: 57px;
    height: 35px;
}